@import "../global.scss";

h2 {
    color: #252C33;

}
.createContainer {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;

    .button {
        background-color: #F6C90E;
        border-color: #F6C90E;
    }
}