@import "../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.navbar {
  background-color: #000;
  @mixin mobile {
   padding: 0;
}

  h1 {
    font-size: 30px;
    font-family: 'Aboreto', cursive;
    text-transform: capitalize;
  }

  .welcome {
    color: #fff;
  }
}
