@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import "../global.scss";


body {
    background-color: #252C33;
}

h1 {
    font-size: 35px;
    color: #EEEEEE;
    font-family: 'Poiret One', cursive;
}

h2 {
    color: #EEEEEE;
    font-family: 'Poiret One', cursive;
}
.form {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button {
        background-color: #F6C90E;
        border-color: #F6C90E;
    }
}